@FIELDMAP



@MAPBUTTON(ARGS,ARG)
SETCOLOR MAPBUTTON_COLOR(ARG)
PRINTBUTTON ARGS,ARG
RESETCOLOR


@MAPBUTTON_HTML_F(ARGS,ARG)
#FUNCTIONS
RETURNF @"<font color = '%"#" + TOSTR(MAPBUTTON_COLOR(ARG), "X6")%'>" + @"<button value = '{ARG}'>" + HTML_ESCAPE(ARGS) + "</button>" + "</font>" 

@MAPBUTTON_COLOR(ARG)
#FUNCTION
SETCOLOR C_P_BLUE
SELECTCASE ARG
	CASE MAIN_MAP
		SIF !CHK_DATENOW(CFLAG:MASTER:데이트중)
			RETURNF 0x00ff00
	CASE 0
		SIF CFLAG:MASTER:데이트중 == ARG
			RETURNF 0x00ff00
ENDSELECT
RETURNF C_P_BLUE

@MAPPOINT(ARGS, ARG)
SELECTCASE ARG
ENDSELECT 
;PRINTBUTTON ARGS, (ARG / 10)
RESETCOLOR